<% apartment = apartment_bills[:apartment] %>

<table>
  <thead>
    <tr>
      <th><%= apartment.name %></th>
      <th><%= link_to 'Add New Bill', new_bill_path(apartment_id: apartment.id)%></th>
    </tr>
    <tr style="text-align: left">
      <th>Bill</th>
      <th>Owner</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Paid</th>
      <th></th>
  </thead>
  <tbody>
    <% apartment_bills[:bills].each do |_, bill| %>
      <tr style="text-align: left">
        <td><%= link_to bill.name, edit_bill_path(bill) %></td>
        <td><%= apartment_bills[:bill_owners][bill.user_id.to_s.to_sym].full_name %></td>
        <td style="text-align: right"><%= "$#{bill.cents/100}.#{(bill.cents%100).to_s.rjust(2, '0')}" %></td>
        <td><%= bill.due || 'Pending' %></td>
        <td><%= bill.payment_id ? 'Paid' || 'Not Paid' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
