<% apartments_bills.each_with_index do |bill, index| %>
  <% new_table_start = bill.apartment_id != apartments_bills[index-1].apartment_id %>
  <% new_table_end = apartments_bills[index+1].nil? || bill.apartment_id != apartments_bills[index+1].apartment_id %>
  <% if new_table_start %>
    <table>
      <thead>
        <tr>
          <th><%= bill.apartment_name %></th>
          <th><%= link_to 'Add New Bill', new_bill_path(apartment_id: bill.apartment_id)%></th>
        </tr>
        <tr style="text-align: left">
          <th>Bill</th>
          <th>Owner</th>
          <th>Amount</th>
          <th>Due Date</th>
          <th>Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
  <% end %>
  <tr style="text-align: left">
    <td><%= link_to bill.bill_name, bill_path(bill.bill_id) %></td>
    <td><%= name_with_initial_from_sql(bill, :owner) %></td>
    <td style="text-align: right"><%= cents_to_dollars(bill.bill_cents) %></td>
    <td><%= bill.bill_due ? bill.bill_due.strftime('%m-%d-%Y') : 'Pending' %></td>
    <td>
      <% if bill.amount_paid == bill.bill_cents %>
        <%= 'Paid' %>
      <% elsif bill.owner_id == current_user.id %>
        <%= link_to 'Pay', new_payment_path(debt_id: bill.bill_id) %>
      <% else %>
        <%= 'Unpaid' %>
      <% end %>
    </td>
  </tr>
  <% if new_table_end %>
      </tbody>
    </table>
  <% end %>
<% end %>
