<tr>
  <td><%= bill.name %><%= ' (Cancelled)' unless bill.active %></td>
  <td><%= bill.apartment.name %></td>
  <td><%= standard_date(bill.due) %></td>
  <td><%= cents_to_dollars(bill.cents) %></td>
  <td><%= cents_to_dollars(bill.total_paid) %></td>
</tr>
