<% if @bill.cents %>
  <% bill_dollars = @bill.cents/100 %>
  <% bill_cents = @bill.cents%100 %>
<% else %>
  <% bill_dollars = 0 %>
  <% bill_cents = 0 %>
<% end %>
<% apartment = @bill.apartment_id || @apartment_id %>

<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td><%= f.label :apartment_id, 'Apartment' %></td>
        <td><%= f.select :apartment_id, options_for_select(Apartment.select_options, apartment) %></td>
      </tr>
      <tr>
        <td><%= f.label :name, 'Name' %></td>
        <td><%= f.text_field :name, placeholder: "e.g. 'Rent'" %></td>
      </tr>
      <tr>
        <td><%= f.label :user_id, 'Owner' %></td>
        <td><%= f.select :user_id, User.select_options %></td>
      </tr>
      <tr>
        <td><%= f.label :dollars, 'Amount'%></td>
        <td>
          $ <%= f.number_field :dollars, value: bill_dollars %> . <%= f.select :cents, options_for_select((0..99).map{|i| [(i < 10 ? '0' << i.to_s : i), i]}, bill_cents) %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :due, 'Due Date' %></td>
        <td><%= f.date_select :due, order: [:month, :day, :year] %></td>
      </tr>
      <tr>
        <td><%= f.submit %></td>
        <td><%= link_to 'Cancel', request.referrer %></td>
      </tr>
    </tbody>
  </table>
<% end %>
