<% form_url = @user.new_record? ? admin_users_path : admin_user_path(id: @user.id) %>
<%= form_for(@user, url: form_url) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <tr>
        <td><%= f.label :first_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <% if @user.new_record? %>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.text_field :password %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= f.submit %></td>
        <td><%= link_to 'Cancel', request.referrer %></td>
      </tr>
    </tbody>
  </table>
<% end %>